html,body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 85%;
}

/*** MENU ***/
.menu {
    height: 7%;
    /*position: absolute;*/
    /*z-index: 1;*/
    width: 100%;
    background-color: #8E4E81;
    display: inline-block;
    vertical-align: middle;
}

.menu-marker-btn {
    padding: 5px;
    margin-top: 2px;
    margin-left: 10px;
    height: 25px;
    width: 25px;
}

#menu-filter {
    position: absolute;
    font-size: 13px;
    width: 20%;
    padding: 5px;
    margin-top: 6px;
    margin-left: 20px;
}

#menu-toggle-list {
    float: right;
    height: 40px;
    width: 40px;
}

/*** LIST ***/

.list {
    display: none;
    z-index: 1;
    position: absolute;
    background: #8E4E81;
    background: -webkit-linear-gradient(#8E4E81, #000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8E4E81, #000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8E4E81, #000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8E4E81, #000000); /* Standard syntax */
    font-size: 10px;
    margin-top: 55px;
    padding: 0;
    overflow: auto;
    height: 60%;
    width: 120px;
}

#list-filter {
    position: relative;
    display: block;
    font-size: 13px;
    width: 100%;
    padding: 5px;
    margin-bottom: : 10px;
}

.list-item {
    list-style-type: none;
    color: #FFFFFF;
}

.list-block {
    padding: 5px;
}

.list-item-name {
    font-family: sans-serif;    
    display: inline;
    position: relative;
}

.list-item-rating {
    margin-left: 25px;
}

.list-item-vicinity {
    font-family: cursive;
    color: #fdebfd;
}

/*** DETAILS ***/

.details-info {
    background: #8E4E81;
    background: -webkit-linear-gradient(#8E4E81, #000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8E4E81, #000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8E4E81, #000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8E4E81, #000000); /* Standard syntax */
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px;    
    color: #FFFFFF;
    /*margin-top: 55px;*/
    overflow: auto;
    font-size: 10px;
}


.details-gallery-image {
    max-width: 70px;
    max-height: 70px;
    position: relative;
    display: inline;
}

.details-close-icon {
    position: absolute;
    display: inline;
    max-width: 30px;
    max-height: 30px;
    margin-left: 85%;
}

/*** FOOTER ***/

.footer {
    height: 8%;
    width: 100%;
    background-color: #8E4E81;
}

/*** GENERAL ***/

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

/*#hide-listings,
#show-listings {
    width: 49%;
    background-color: #FFFFFF;
}*/

.right {
    display: inline-block;
    float: right;
}

.inline {
    display: inline;
}